# Core Data Handling
pandas
duckdb

# Configuration & Utilities
PyYAML
python-dotenv
tqdm

# AI & RAG (Vector Search)
chromadb
google-generativeai
langchain
langchain_community
langchain_google_genai

# Web Application
streamlit